html, body, #cesiumContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.logo {
  position: absolute;
  display: block;
  width: 10%;
  margin-left: 45%;
  margin-right: 45%;
  bottom: 10px;
  z-index:999;
}

.spin {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index:999;
}
